In [1]:
import os
import sys
import string
# # for natural language processing: named entity recognition
# import spacy
# from spacy.displacy.render import EntityRenderer
# from IPython.core.display import display, HTML

# Other package imports
import pandas as pd

%load_ext autoreload
%autoreload 2

In [2]:
# import our dataSet for analysis
path = os.path.join('../data', 'raw', 'ner - locatia accidente_WITH_GENERATED2.csv')
df = pd.read_csv(path)

# import the function that are to be used in scripts
sys.path.insert(0, "../scripts")

print(df.shape)

(1652, 4)

In [3]:
from nlp.utils import bars2spacy

if 'ENT_POS' in df.columns:
    df = df.drop(columns='ENT_POS')
    
df["ENT_POS"] = df['text'].apply(bars2spacy)

df

,id,y,text,com,ENT_POS
0,0,1,un sofer a tamponat o femeie pe trecerea pieto...,NaN,"[(49, 60, LOC_ACCIDENT), (61, 63, LOC_ACCIDENT..."
1,1,1,aseara jurul orei 23:30 politia capitalei a fo...,NaN,"[(94, 101, LOC_ACCIDENT), (110, 114, LOC_ACCID..."
2,6,1,accidentul sa intamplat aceasta dimineata pe |...,NaN,"[(45, 52, LOC_ACCIDENT), (53, 61, LOC_ACCIDENT)]"
3,7,1,un pieton a fost spulberat mortal aseara un ta...,NaN,"[(73, 80, LOC_ACCIDENT), (81, 89, LOC_ACCIDENT)]"
4,10,1,accidentul a avut loc sectorul botanica pe ||s...,NaN,"[(43, 49, LOC_ACCIDENT), (50, 63, LOC_ACCIDENT)]"
...,...,...,...,...,...
1647,378,1,o batrana au fost duse la urgeanta in urma un...,NaN,"[(56, 62, LOC_ACCIDENT), (63, 70, LOC_ACCIDENT..."
1648,378,1,tragedia s-a produs aseara ||intersectia|| ||...,NaN,"[(27, 38, LOC_ACCIDENT), (39, 42, LOC_ACCIDENT..."
1649,378,1,potrivit martorilor soferita de 79 de ani cir...,NaN,"[(50, 56, LOC_ACCIDENT), (57, 63, LOC_ACCIDENT..."
1650,378,1,tragedia s-a produs ieri ||bulevardul|| ||ste...,NaN,"[(25, 35, LOC_ACCIDENT), (36, 42, LOC_ACCIDENT..."
1651,378,1,vineri 26 martie in jur ore 22:30 ||strada|| ...,NaN,"[(34, 40, LOC_ACCIDENT), (41, 46, LOC_ACCIDENT..."

In [4]:
from nlp.utils import bars2y

if 'BARS2Y' in df.columns:
    df = df.drop(columns='BARS2Y')
    
df["BARS2Y"] = df['text'].apply(bars2y)

df

,id,y,text,com,ENT_POS,BARS2Y
0,0,1,un sofer a tamponat o femeie pe trecerea pieto...,NaN,"[(49, 60, LOC_ACCIDENT), (61, 63, LOC_ACCIDENT...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, ..."
1,1,1,aseara jurul orei 23:30 politia capitalei a fo...,NaN,"[(94, 101, LOC_ACCIDENT), (110, 114, LOC_ACCID...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, ..."
2,6,1,accidentul sa intamplat aceasta dimineata pe |...,NaN,"[(45, 52, LOC_ACCIDENT), (53, 61, LOC_ACCIDENT)]","[0, 0, 0, 0, 0, 0, 1, 1, 0, 0]"
3,7,1,un pieton a fost spulberat mortal aseara un ta...,NaN,"[(73, 80, LOC_ACCIDENT), (81, 89, LOC_ACCIDENT)]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, ..."
4,10,1,accidentul a avut loc sectorul botanica pe ||s...,NaN,"[(43, 49, LOC_ACCIDENT), (50, 63, LOC_ACCIDENT)]","[0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0]"
...,...,...,...,...,...,...
1647,378,1,o batrana au fost duse la urgeanta in urma un...,NaN,"[(56, 62, LOC_ACCIDENT), (63, 70, LOC_ACCIDENT...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, ..."
1648,378,1,tragedia s-a produs aseara ||intersectia|| ||...,NaN,"[(27, 38, LOC_ACCIDENT), (39, 42, LOC_ACCIDENT...","[0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1]"
1649,378,1,potrivit martorilor soferita de 79 de ani cir...,NaN,"[(50, 56, LOC_ACCIDENT), (57, 63, LOC_ACCIDENT...","[0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, ..."
1650,378,1,tragedia s-a produs ieri ||bulevardul|| ||ste...,NaN,"[(25, 35, LOC_ACCIDENT), (36, 42, LOC_ACCIDENT...","[0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
1651,378,1,vineri 26 martie in jur ore 22:30 ||strada|| ...,NaN,"[(34, 40, LOC_ACCIDENT), (41, 46, LOC_ACCIDENT...","[0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, ..."

In [5]:
from nlp.utils import bars2yLetters


if 'BARS2YLETTERS' in df.columns:
    df = df.drop(columns='BARS2YLETTERS')
    
df["BARS2YLETTERS"] = df['text'].apply(bars2yLetters)

df

,id,y,text,com,ENT_POS,BARS2Y,BARS2YLETTERS
0,0,1,un sofer a tamponat o femeie pe trecerea pieto...,NaN,"[(49, 60, LOC_ACCIDENT), (61, 63, LOC_ACCIDENT...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, ...",----------------------------------------------...
1,1,1,aseara jurul orei 23:30 politia capitalei a fo...,NaN,"[(94, 101, LOC_ACCIDENT), (110, 114, LOC_ACCID...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, ...",----------------------------------------------...
2,6,1,accidentul sa intamplat aceasta dimineata pe |...,NaN,"[(45, 52, LOC_ACCIDENT), (53, 61, LOC_ACCIDENT)]","[0, 0, 0, 0, 0, 0, 1, 1, 0, 0]",---------------------------------------------+...
3,7,1,un pieton a fost spulberat mortal aseara un ta...,NaN,"[(73, 80, LOC_ACCIDENT), (81, 89, LOC_ACCIDENT)]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, ...",----------------------------------------------...
4,10,1,accidentul a avut loc sectorul botanica pe ||s...,NaN,"[(43, 49, LOC_ACCIDENT), (50, 63, LOC_ACCIDENT)]","[0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0]",-------------------------------------------+++...
...,...,...,...,...,...,...,...
1647,378,1,o batrana au fost duse la urgeanta in urma un...,NaN,"[(56, 62, LOC_ACCIDENT), (63, 70, LOC_ACCIDENT...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, ...",----------------------------------------------...
1648,378,1,tragedia s-a produs aseara ||intersectia|| ||...,NaN,"[(27, 38, LOC_ACCIDENT), (39, 42, LOC_ACCIDENT...","[0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1]",---------------------------+++++++++++-+++-++-...
1649,378,1,potrivit martorilor soferita de 79 de ani cir...,NaN,"[(50, 56, LOC_ACCIDENT), (57, 63, LOC_ACCIDENT...","[0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, ...",----------------------------------------------...
1650,378,1,tragedia s-a produs ieri ||bulevardul|| ||ste...,NaN,"[(25, 35, LOC_ACCIDENT), (36, 42, LOC_ACCIDENT...","[0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",-------------------------++++++++++-++++++-+++...
1651,378,1,vineri 26 martie in jur ore 22:30 ||strada|| ...,NaN,"[(34, 40, LOC_ACCIDENT), (41, 46, LOC_ACCIDENT...","[0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, ...",----------------------------------++++++-+++++...

In [67]:
# Phrases from which new ones will be generated
from nlp.dataset import samples
# Function that creates training_data accepts samples from which
from nlp.dataset import create_many_Sentences

# Pre-processing and possition extraction
from nlp.dataset import get_index_start_finish
from nlp.dataset import transform_keywords
from nlp.dataset import check_if_exists_in_list_of_lists
from nlp.dataset import get_space_in_enteties
from nlp.dataset import repalce_in_phrase

# Executes all the pre-processing functions and then returns the dataframe holding the marked_text
from nlp.dataset import yLetters2bars

In [78]:
## Examples for testing purpouses
# x = 'tragedia s-a intamplat in aceasta dupa amiaza la intersectia dintre strada arhanghelul mihail si strada codrilor. potriv politiei persoana traumat a fost luat de o ambulanta si transport de urgent la'
# y = '--------------------------------------------------------------------+++++++++++++++++++++++++----+++++++++++++++---------------------------------------------------------------------------------------'
# x = 'doua masini s-au tamponat in aceasta dupa amiaza intersectia str. a. russo - mircea cel batrin.'
# y = '-------------------------------------------------+++++++++++++++++++++++++++++++++++++++++++++-'
# x = 'potrivit martorilor soferita de 59 de ani circula strada calea mosilor iar bmw-ul pe bulevardul mircea cel batrin.'
# y = '--------------------------------------------------++++++++++++++++++++---------------++++++++++++++++++++++++++++-'

# annotated_phrase = yLetters2bars(x,y)
# print(annotated_phrase)


df2 = create_many_Sentences(10,create_from_what = samples)

import numpy as np
'''Use np.vectorize(NAME_OF_FUNCTION)(df2['Col_name1'], df2['Col_name2'])
   This allows up to pass arguments to a function that accepts multple arguments
'''
df2['marked_text'] = np.vectorize(yLetters2bars)(df2['text'], df2['marks'])

df2

,id,text,marks,marked_text
0,379,o masina si un autobuz s-au ciocnit in jurul o...,----------------------------------------------...,o masina si un autobuz s-au ciocnit in jurul o...
1,380,accidentul s-a produs in aceasta dimineata tr....,-------------------------------------------+++...,accidentul s-a produs in aceasta dimineata ||t...
2,381,joi 12 aprilie in jur ore 21:20 bd. moscovei 1...,--------------------------------++++++++++++++...,joi 12 aprilie in jur ore 21:20 ||bd.|| ||mosc...
3,382,evenimentul s-a inregistrat saptamana aceasta ...,----------------------------------------------...,evenimentul s-a inregistrat saptamana aceasta ...
4,383,doua masini s-au lovit in aceasta dupa amiaza ...,----------------------------------------------...,doua masini s-au lovit in aceasta dupa amiaza ...
5,384,doua motociclete s-au tamponat in aceasta dupa...,----------------------------------------------...,doua motociclete s-au tamponat in aceasta dupa...
6,385,sambata 14 februarie in jur ore 11:50 str. gor...,--------------------------------------++++++++...,sambata 14 februarie in jur ore 11:50 ||str.||...
7,386,accidentul a avut loc saptamana aceasta la int...,----------------------------------------------...,accidentul a avut loc saptamana aceasta la int...
8,387,evenimentul s-a inregistrat in aceasta diminea...,----------------------------------------------...,evenimentul s-a inregistrat in aceasta diminea...
9,388,doua autoturisme s-au lovit in aceasta diminea...,----------------------------------------------...,doua autoturisme s-au lovit in aceasta diminea...

In [8]:
def yLetters2spacy(text, yLetters):
    """
    input: 
    - aa bb cb db eb
    - ---++----++---
    output: [(3,5,'POS'), (8,9,'POS')]
    """
    pass

In [9]:
def y2bars(y, text):
    """
    input: 
    - [0,1,0,1,0]
    - a b c d e
    output: a ||b|| c ||d|| e
    """
    pass

In [10]:
def spacy2bars(entities, text):
    """
    input: 
    - [(2,3,'POS'), (4,5,'POS')]
    - a b c d e
    output: a ||b|| c ||d|| e
    """
    pass

In [11]:
def spacy2y(entities, text):
    """
    input: 
    - [(2,3,'POS'), (4,5,'POS')]
    - a b c d e
    output: [0,1,0,1,0]
    """
    pass

In [12]:
def y2spacy(text, y):
    """
    input: 
    - [0,1,0,1,0]
    - a b c d e
    output: [(2,3,'POS'), (4,5,'POS')]
    """
    pass

In [13]:
def calculate_recall(y_pred, y_true):
    """
    input: 
    - [0,1,0,1,0]
    - [0,1,0,1,0]
    output: 1
    
    
    input: 
    - [0,1,0,1,0]
    - [0,1,0,0,0]
    output: 1
    """
    pass

In [14]:
def calculate_acc(y_pred, y_true):
    """
    input: 
    - [0,1,0,1,0]
    - [0,1,0,1,0]
    output: 1
    
    
    input: 
    - [0,1,0,1,0]
    - [0,1,0,0,0]
    output: 1
    """
    pass

In [15]:
def calculate_acc_ignore0(y_pred, y_true):
    """calculate the accuracy just for the non-zero tokens
    input: 
    - [0,1,0,1,0]
    - [0,1,0,1,0]
    output: 1
    
    
    input: 
    - [0,1,0,1,0]
    - [0,1,0,0,0]
    output: 1
    """
    pass

In [16]:
def calculate_confusion_matrix(y_pred, y_true):
    """
    input: 
    - [0,1,0,1,0]
    - [0,1,0,1,0]
    output: 1
    
    
    input: 
    - [0,1,0,1,0]
    - [0,1,0,0,0]
    output: 1
    """
    pass

In [17]:
def calculate_precision(y_pred, y_true):
    """
    input: 
    - [0,1,0,1,0]
    - [0,1,0,1,0]
    output: 1
    
    
    input: 
    - [0,1,0,1,0]
    - [0,1,0,0,0]
    output: 1
    """
    pass